/*variable*/
:root{
    --size: 0.25rem;


    --primary-font: "Cormorant", serif;
    --secondary-font: "Montserrat", sans-serif;
}

/*globals*/
.body{
    margin: 0;
    font-family: var(--primary-font);
    background-color: #f6efe4;
}

/*layout*/
.container{
    max-width: 1280px;
    padding-inline: calc(var(--size) * 4);
    margin-inline: auto;
}
/*components*/

.nav{
    padding-block: var(--size)
}

/*element*/

.title{
    margin: 0;
    font-family: var(--primary-font);
    font-size: calc(var(--size) * 8);
    font-weight: 800;
}

.title--sm{
    font-size: calc(var(--size) * 7 );
}

.link {
    color: inherit;
    text-decoration: none;
}
